@font-face {
    font-family: segment;
    src: url(sevensegment.ttf);
}

body{
    margin: 0;
    text-align: center;
}
.wrapper{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.575);
    width: 900px;
    margin: 100px auto;
    height: 500px;
    border-radius: 40px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    justify-content: space-evenly;
}

.home{
    width: 25%;
}
.homeInner{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(45deg, #DEC1FF, #5CC8FF, rgb(224, 31, 224));
    border-radius: 20px;
    padding: 30px 20px;
}
.guest{
    width:25%;
}
.guestInner{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(45deg, #DEC1FF, #5CC8FF, rgb(224, 31, 224));
    border-radius: 20px;
    padding: 30px 20px;
}
p{
    font-size: 60px;
    font-weight: 1000;
    font-family: segment;
    width: 60px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(170, 155, 155);
    border-radius: 10px;
    color: white;
}
button{
    background-color: rgb(165, 248, 211);
    border: none;
    border-radius: 9px;
    height: 40px;
    width: 70px;
    font-weight: 50;
}
button:hover{
    background-color: rgb(133, 126, 97);
    transition: 300ms;
}
button:active{
    background-color: rgb(11, 83, 81);
}
.period button{
    width: 100px;
}
.reset{
    background-color: rgb(255, 27, 27);
}